h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.name-hightlite{
    color: orange;
}
.half-wide{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-wide img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px; ;
}
.link-buttom{
    text-decoration: none;
     color: white;
     background-image: linear-gradient(45deg, lightSalmon, tomato);
     padding: 5px 20px;
     border-radius: 5px;
    font-weight: 700px;
}